%p#notice= notice
%p
  %strong Department:
  %h1= @department.name
%table.table.table-hover.table-striped
  %thead
    %tr
      %th Job Title
      %th Content
      %th{:colspan => "20"}
  %tbody
    - @job_postings.each do |job_posting|
      %tr
        %td= link_to job_posting.title, job_posting.url
        %td= truncate(strip_tags(job_posting.content), length: 300)
        %td= link_to 'Show', job_posting
%br/
= link_to 'Edit', edit_department_path(@department)
%br/
%strong= link_to 'Back', departments_path
