%p#notice= notice
%p
  %strong Title:
  = @job_posting.title
%p
  %strong Url:
  = @job_posting.url
%p
  %strong Content:
  = @job_posting.content
%p
  %strong Entry:
  = @job_posting.entry_id
%p
  %strong Job published at:
  = @job_posting.job_published_at
%p
  %strong Job updated at:
  = @job_posting.job_updated_at
%p
  %strong Department:
  = @job_posting.department
= link_to 'Edit', edit_job_posting_path(@job_posting)
|
= link_to 'Back', job_postings_path
